<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738134268521-urrrc7mpim34o12e8hnqr8urdl54lvvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738134268521-urrrc7mpim34o12e8hnqr8urdl54lvvf</string>
	<key>API_KEY</key>
	<string>AIzaSyCqIdiurD7HyIfr8g84Ky2j7YKU99ynYic</string>
	<key>GCM_SENDER_ID</key>
	<string>738134268521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.familyapp</string>
	<key>PROJECT_ID</key>
	<string>familyapp-6e734</string>
	<key>STORAGE_BUCKET</key>
	<string>familyapp-6e734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738134268521:ios:96df76ce7aa0d578d5a0f8</string>
</dict>
</plist>